---
---
@import "{{ site.theme }}";

/* Custom styles for navigation bar */
header nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #000;
}